/* .header-area {
    margin-bottom: 150px !important;
} */

.hr-length1 {
    width: 5%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: #fd2f2f;
}

.hr-length2 {
    width: 5%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color:#243eff;
}

.img-wrap {
    width: 100%;
    height: 100%;
  }


.polaroid {
    width: 250px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  
  .polaroid:hover,
  .polaroid:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-0.25em);
  }


  /**Product view**/

  :root{
    --white: #fff;
    --main-color: #4b7bec;
}
.product-grid{
    border: 1px solid hsla(0,0%,56%,.2);
    font-family: 'Roboto Slab', serif;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
.product-grid:hover{
    border-radius: 0;
    box-shadow: 0 0 10px 3px hsla(0,0%,7%,.2);
}
.product-grid .product-image{ position: relative; }
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
.product-image .pic-1{
    backface-visibility: hidden;
    transition: all 0.5s ease-in-out 0s;
}
.product-grid:hover .pic-1{ opacity: 0; }
.product-image .pic-2{
    width: 100%;
    height: 100%;
    opacity: 0;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out 0s;
}
.product-grid:hover .pic-2{ opacity: 1; }
.product-grid .product-discount-label{
    color: var(--white);
    background: var(--main-color);
    font-size: 14px;
    font-weight: 500;
    padding: 2px 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.product-grid .social{
    padding: 19px 0;
    margin: 0 auto;
    list-style: none;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}
.product-grid .social li{
    display: inline-block;
    margin: 0 5px 10px 0;
}
.product-grid .social li:last-child{ margin-right: 0; }
.product-grid .social li a{
    color: var(--main-color);
    background: var(--white);
    font-size: 16px;
    line-height: 42px;
    height: 42px;
    width: 42px;
    border: 1px solid var(--main-color);
    border-radius: 50px;
    display: block;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-in-out;
}
.product-grid .social li a:hover{
    color: var(--white);
    background: var(--main-color);
}
.product-grid:hover .social li a{
    opacity: 1;
    transform: scale(1);
}
.product-grid .product-content{ padding: 12px; }
.product-grid .title{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 7px;
}
.product-grid .title a{
    color: #111;
    transition: all 0.5s ease-out 0s;
}
.product-grid .title a:hover{ color: var(--main-color); }
.product-grid .price{
    color: var(--main-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 7px;
}
.product-content .price span{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    margin-right: 5px;
    text-decoration: line-through;
    display: inline-block;
}
.product-grid .rating{
    padding: 0;
    margin: 0;
    list-style: none;
}
.product-grid .rating li {
    color: #f7bc3d;
    font-size: 13px;
}
.product-grid .rating li.disable { color: #666; }
@media only screen and (max-width:990px){
    .product-grid{ margin-bottom: 30px; }
}

.section-bacground {
    background-color: rgba(235, 204, 204, 0.19);
}